server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/bookstore
    username: bookuser
    password: bookpass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

management:
  server:
    port: 8080
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
