server:
  port: 9090

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

    management:
      server:
        port: 8080
      endpoints:
        web:
          exposure:
            include: health,info
      endpoint:
        health:
          show-details: always